<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Prediction</title>
</head>
<body>
    <h1>Diabetes Prediction</h1>

    <label>age
        <input type="number" name="options" value="age">
    </label>
    <br>
    <label>gender
        <input type="checkbox" name="options" value="gender">
    </label>
    <br>
    <label>polyuria
        <input type="checkbox" name="options" value="polyuria">
    </label>
    <br>
    <label>polydipsia
        <input type="checkbox" name="options" value="polydipsia">
    </label>
    <br>
    <label>sudden_weight_loss
        <input type="checkbox" name="options" value="sudden_weight_loss">
    </label>
    <br>
    <label>weakness
        <input type="checkbox" name="options" value="weakness">
    </label>
    <br>
    <label>polyphagia
        <input type="checkbox" name="options" value="polyphagia">
    </label>
    <br>
    <label>genital_thrush
        <input type="checkbox" name="options" value="genital_thrush">
    </label>
    <br>
    <label>visual_blurring
        <input type="checkbox" name="options" value="visual_blurring">
    </label>
    <br>
    <label>itching
        <input type="checkbox" name="options" value="itching">
    </label>
    <br>
    <label>irritability
        <input type="checkbox" name="options" value="irritability">
    </label>
    <br>
    <label>delayed_healing
        <input type="checkbox" name="options" value="delayed_healing">
    </label>
    <br>
    <label>partial_paresis
        <input type="checkbox" name="options" value="partial_paresis">
    </label>
    <br>
    <label>muscle_stiffness
        <input type="checkbox" name="options" value="muscle_stiffness">
    </label>
    <br>
    <label>alopecia
        <input type="checkbox" name="options" value="alopecia">
    </label>
    <br>
    <label>obesity
        <input type="checkbox" name="options" value="obesity">
    </label>
    <br>
    <button type="submit">Submit</button>
</body>
</html>