<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/4.1.5/css/flag-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Diabetes Prediction</title>
</head>
<body>

    <div class="header">
        <h1>Diabetes Prediction</h1>
    </div>
    
    <div class="form">
        <form action="/" method="POST">
            <label>age</label>
            <input type="number" name="options" value="age" required style="width: 30%;"><br>

            <label>gender (Check it if you are a male)</label>
            <input type="checkbox" name="options" value="gender"><br>

            <label>polyuria</label>
            <input type="checkbox" name="options" value="polyuria"><br>

            <label>polydipsia</label>
            <input type="checkbox" name="options" value="polydipsia"><br>

            <label>sudden_weight_loss</label>
            <input type="checkbox" name="options" value="sudden_weight_loss"><br>

            <label>weakness</label>
            <input type="checkbox" name="options" value="weakness"><br>

            <label>polyphagia</label>
            <input type="checkbox" name="options" value="polyphagia"><br>

            <label>genital_thrush
            <input type="checkbox" name="options" value="genital_thrush"><br>

            <label>visual_blurring</label>
            <input type="checkbox" name="options" value="visual_blurring"><br>

            <label>itching</label>
            <input type="checkbox" name="options" value="itching"><br>

            <label>irritability</label>
            <input type="checkbox" name="options" value="irritability"><br>

            <label>delayed_healing</label>
            <input type="checkbox" name="options" value="delayed_healing"><br>

            <label>partial_paresis</label>
            <input type="checkbox" name="options" value="partial_paresis"><br>

            <label>muscle_stiffness</label>
            <input type="checkbox" name="options" value="muscle_stiffness"><br>

            <label>alopecia</label>
            <input type="checkbox" name="options" value="alopecia"><br>

            <label>obesity</label>
            <input type="checkbox" name="options" value="obesity"><br>

            <button type="submit">Submit</button>
        </form>
        {% if pred is defined %}
            <pre>{{ pred }}</pre>
        {% endif %}
    </div>

    <p class="buttons">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#age" aria-expanded="false" aria-controls="age">
            age
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#gender" aria-expanded="false" aria-controls="gender">
            gender
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#polyuria" aria-expanded="false" aria-controls="polyuria">
            polyuria
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#polydipsia" aria-expanded="false" aria-controls="polydipsia">
            polydipsia
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sudden-weight-loss" aria-expanded="false" aria-controls="sudden-weight-loss">
            sudden weight loss
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#weakness" aria-expanded="false" aria-controls="weakness">
            weakness
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#polyphagia" aria-expanded="false" aria-controls="polyphagia">
            polyphagia
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#genital-thrush" aria-expanded="false" aria-controls="genital-thrush">
            genital thrush
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#visual-blurring" aria-expanded="false" aria-controls="visual-blurring">
            visual-blurring
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#itching" aria-expanded="false" aria-controls="itching">
            itching
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#irritability" aria-expanded="false" aria-controls="irritability">
            irritability
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#delayed-healing" aria-expanded="false" aria-controls="delayed-healing">
            delayed healing
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#partial-paresis" aria-expanded="false" aria-controls="partial-paresis">
            partial paresis
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#muscle-stiffness" aria-expanded="false" aria-controls="muscle-stiffness">
            muscle stiffness
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#alopecia" aria-expanded="false" aria-controls="alopecia">
            alopecia
        </button>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#obesity" aria-expanded="false" aria-controls="obesity">
            obesity
        </button>
    </p>

    <div class="collapse" id="age">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Age
            <span class="flag-icon flag-icon-tr"></span>Yaş
        </div>
    </div>

    <div class="collapse" id="gender">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Gender
            <span class="flag-icon flag-icon-tr"></span>Cinsiyet
        </div>
    </div>

    <div class="collapse" id="polyuria">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Polyuria : Whether the patient experienced excessive urination or not
            <span class="flag-icon flag-icon-tr"></span>Poliüri : Hastanın aşırı idrara çıkma yaşayıp yaşamadığı
        </div>
    </div>

    <div class="collapse" id="polydipsia">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Polydipsia : Whether the patient experienced excessive thirst/excess drinking or not
            <span class="flag-icon flag-icon-tr"></span>Polidipsi : Hastanın aşırı susama/aşırı içme yaşayıp yaşamadığı
        </div>
    </div>

    <div class="collapse" id="sudden-weight-loss">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Sudden weight loss : Whether patient had an episode of sudden weight loss or not
            <span class="flag-icon flag-icon-tr"></span>Ani kilo kaybı : Hastanın ani kilo kaybı atağı geçirip geçirmediği
        </div>
    </div>

    <div class="collapse" id="weakness">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Weakness : Whether patient had an episode of feeling weak
            <span class="flag-icon flag-icon-tr"></span>Zayıflık : Hastanın zayıf hissetme nöbeti geçirip geçirmediği
        </div>
    </div>

    <div class="collapse" id="polyphagia">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Polyphagia : Whether patient had an episode of excessive/extreme hunger or not
            <span class="flag-icon flag-icon-tr"></span>Polifaji : Hastanın aşırı/aşırı açlık dönemi geçirip geçirmediği
        </div>
    </div>

    <div class="collapse" id="genital-thrush">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Genital thrush : Whether patient had a yeast infection or not
            <span class="flag-icon flag-icon-tr"></span>Genital pamukçuk : Hastanın mantar enfeksiyonu geçirip geçirmediği
        </div>
    </div>

    <div class="collapse" id="visual-blurring">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Visual blurring : Whether patient had an episode of blurred vision
            <span class="flag-icon flag-icon-tr"></span>Görsel bulanıklık : Hastanın bulanık görme epizodu olup olmadığı
        </div>
    </div>

    <div class="collapse" id="itching">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Itching : Whether patient had an episode of itch
            <span class="flag-icon flag-icon-tr"></span>Kaşıntı : Hastanın kaşıntı nöbeti geçirip geçirmediği
        </div>
    </div>

    <div class="collapse" id="irritability">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Irritability : Whether patient had an episode of irritability
            <span class="flag-icon flag-icon-tr"></span>Sinirlilik : Hastanın bir sinirlilik dönemi geçirip geçirmediği
        </div>
    </div>

    <div class="collapse" id="delayed-healing">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Delayed healing : Whether patient had an noticed delayed healing when wounded
            <span class="flag-icon flag-icon-tr"></span>Gecikmiş iyileşme : Hastanın yaralandığında iyileşmede gecikme fark edip etmediği
        </div>
    </div>

    <div class="collapse" id="partial-paresis">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Partial paresis : Whether patient had an episode of weakening of a muscle/group of muscles or not
            <span class="flag-icon flag-icon-tr"></span>Kısmi parezi : Hastanın bir kas/kas grubunda zayıflama atağı geçirip geçirmediği
        </div>
    </div>

    <div class="collapse" id="muscle-stiffness">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Muscle stiffness : Whether patient had an episode of muscle stiffness
            <span class="flag-icon flag-icon-tr"></span>Kas sertliği : Hastanın kas sertliği atağı olup olmadığı
        </div>
    </div>

    <div class="collapse" id="alopecia">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Alopecia : Whether patient experienced hair loss or not
            <span class="flag-icon flag-icon-tr"></span>Alopesi : Hastanın saç dökülmesi yaşayıp yaşamadığı
        </div>
    </div>

    <div class="collapse" id="obesity">
        <div class="card card-body">
            <span class="flag-icon flag-icon-us"></span>Obesity
            <span class="flag-icon flag-icon-tr"></span>Obezite
        </div>
    </div>
   
    
    

</body>
</html>