.header{
    display: block;
    text-align: center;
    background-color: #ffbe76;
    padding: 1%;
}

.attributes{
    display: block;
    float: left;
    padding-top: 1%;
    padding-left: 5%;
}

.form{
    display: block;
    float: right;
    padding-top: 1%;
    padding-right: 20%;
}